

.techline {
  height: 42px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.left {
  width: 466px;
  height: 42px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #0029ff;
}

.Right {
  height: 42px;
  background: #0029ff;
  border-radius: 10px;
  width: 132px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.Right > h1 {
  padding: 10px 20px;
}

 /* ------------ Explore ----------- */

.Exploredata {

  background: #e9ecef;
  margin-top: 20px;
  border-radius: 5px;
  height: 135px;
  padding: 5px;
}

.mid {
  width: 375px;
  height: 30px;
  margin-top: 10px;
  margin-left: 18px;
}

.mid > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: start;
  letter-spacing: 0.02em;
  color: #000000;
}
    /* ------------ Explore description  ----------- */
.bottom {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.bottom > p {
  text-align: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;

  color: #000000;
}

/* ------  Mid  box  ----- */

.technical-project {
 
  display: flex;
  justify-content: space-between;
}

.left-tech {
  width: 45%;
  height: 580px;
  margin-top: 50px;
  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.Right-tech {
  width: 45%;
  height: 580px;
  margin-top: 50px;
  background: #fdfdfd;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.customdescription {
  border: 1px solid red;
}

.Heading-top {
  height: 50px;
  background: #000000;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: space-evenly;
}

.Heading-top > p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 4px;
}

.elipis {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 10px;
}

.elipis > p {
  font-size: 1rem;
  font-weight: 600;
  margin-top: -3px;
  padding: 5px;
}

.Description {
  width: 90%;
  margin: auto;
  background: #fdfdfd;
  border-radius: 15p;
}

.Description > p {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: start;
  color: #000000;
  margin-top: 20px;
}

.Description > p span {
  font-weight: 600;
  font-size: 16px;
}

.image-section {
  border: 1px solid black;

  margin-top: 50px;
}
.image-section > img {
  height: 291px;
}

/* ----------- RIght Threa A ----------- */

.thred {
  margin-top: 20px;
  height: 40px;
  background: rgba(254, 255, 192, 0.2);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  display: flex;
  justify-content: space-around;
  border: 0.1px solid rgba(0, 0, 0, 0.4);
}

.arrow {
   position: relative;
   left: 0;
    top: 10px;
}

.thread {
  margin: auto;
}

/* ---------------------------- */

.SubHeadings {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}

.sub {
  height: 40px;
  width: 100%;
  background: #ffffff;
  opacity: 0.5;
  box-shadow: 1px 3px 8px rgba(18, 17, 17, 0.25);
  border-radius: 5px;
  padding: 10px 20px;
}

.sub > h1 {
  text-align: start;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: .5px;
margin-left: 10px;
color: #000000;
}

.Enter {
  width: 100%;
  background: #ffffff;
  height: 70px;
  background: #FFFFFF;
opacity: 0.5;
box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 10px 30px;
text-align: start;
}

.Enter > h1 {
  text-align: start;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #6C757D;
}

/* -------- Icons  --------- */

.Icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.iconshome {
  display: flex;
  justify-content: space-around;
}

.homecs {
  padding: 5px;
  font-size: 2rem;
}

.box {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.box > div > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  margin-top: 8px;
  padding: 5px;
}

.subbut {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.subbutton {
  background: #0029ff;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 20px;
  color: #ffffff;
}

/* ------------ */

.summary {
  width: 90%;
  height: 108px;
  margin: auto;
  margin-top: 20px;
  background: #ffffff;
  opacity: 0.5;

  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.summarytext {
  height: 30px;
  background: rgba(0, 0, 0, 0.05);
  opacity: 0.8;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.summarytext > h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  color: #000000;
  margin-left: 10px;
 
}

.textenter {
  background: #ffffff;
  opacity: 0.5;
  height: 78px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.textenter > h1 {
  text-align: start;
  margin-left: 10px;
}

/* --------------- second line -----------------  */

.Titlecon {
  margin-top: 10px;
  height: 400px;
}

.Titlecon > h1 {
  text-align: start;
  margin-left: 20px;
  margin-top: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
}

.title {
  width: 90%;
  height: 43px;
  margin: auto;
  margin-top: 20px;
  background: #fcfbfb;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.title-2 {
  width: 90%;
  height: 82px;
  margin: auto;
  margin-top: 20px;
  background: #fcfbfb;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.filetitle {
  height: 38px;
}

.filechild {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap:5px;
 padding: 10px;
}

.filechild > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #616161;
}

.paragrapgh {
  height: 40px;
}

.paragraphchild {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.paragraphchild > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #616161;
 
}
.textparagraph{
  background: #EBEBEB;
  padding: 5px;
  color: #fff;
}

.lastTitle {
  width: 90%;
  height: 142px;
  margin: auto;
  background: #fcfbfb;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}


/* ------------ 4SA Method -------------  */


.intro {
  border: 1px solid gray;
  width: 90%;
  height: 43px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  background: #f2f2f2;
}
.intro > p {
  margin-top: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.09em;
  margin-left: 10px;
  color: #000000;
}

.description-1 {
 
  width: 85%;
  height: 67px;
  margin: auto;
  margin-top: 10px;
}

.description-1 > p {
  text-align: start;
  margin-left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #000000;
}

.seemore {
  
  position: absolute;
  width: 71px;
  height: 29px;
  margin-top: 20px;
  left: 75%;
  top: 76%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #606161;
}

.intro-2 {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: 43px;
  background: #fcfcfc;
  border: 1px solid #d9d7d7;
  display: flex;

  justify-content: flex-start;
}

.intro-2 > p {
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Open Sans";
  font-style: normal;
  text-align: start;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;

  color: #000000;
}

.description-2 {
  width: 85%;
  height: 67px;
  margin: auto;
  margin-top: 10px;
}

.description-2 > p {
  text-align: start;
  margin-left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #000000;
}

.seemore1 {
  width: 71px;
  height: 29px;
  margin-top: 30px;
  position: absolute;
  top: 86%;
  left: 75%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #606161;
}

.example {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  background: #fcfcfc;
  border: 1px solid #d9d7d7;
}

.example > h1 {
  text-align: start;
  padding: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-left: 10px;
  color: #000000;
}

.example2 {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background: #fcfcfc;
  padding: 5px;
}

.example2 > h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
}
