.Home-container{
     display: flex;
     justify-content: space-between;
     gap: 10px;
     height: auto;
     margin-bottom: 40px;
}

.Side-left{
     width: 12%;
    height: 752px;
    border-radius: 40px;
}

.Dashboard{
    width: 70%;
}

.Side-Right{
    width: 15%;   
}