

.small {
  /* border: 1px solid black; */
  background-color: black;
  height: 50px;
}

.large {
  /* border: 1px solid grey; */
  height: 692px;
  background: #fdfdfd;
  background: #FDFDFD;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 20px 20px;
}

.BOXX{
   /* border: 1px solid red; */
   box-sizing: border-box;

   position: absolute;
   width: 68px;
   height: 68px;
   left: 30px;
   top: 166px;
   
   border: 1px solid #0029FF;
   border-radius: 20px;
}

.BOXX > p{
width: 12px;
height: 54px;
position: relative;
left: 25px;
top: 13px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
letter-spacing: 0.02em;
color: #0029FF;
}